@CHARSET "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: 'Arial';
    color:#FFFFFF;
}
a
{
    color: #FFFFFF;
}
#invalidlog{
     width: 362px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 70px;
    margin-top: 20px;
    background-image: url("error.jpg") ;height: 350px;width: 400px;background-repeat: no-repeat;
   
    text-align:center;
    text-align: center;
    border-radius: 15px ;


}
#one{
    margin-top: 150px;
    color: white;
    margin-left: 50px;
    text-align:center;
    text-align: center;
}
#textbox{
   width: 200px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 8px;
    
}
#sub{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-right: 10px;
    color: black;


}